@include mediaXl {
  main {
  }
}

@include mediaLg {
  main {
  }
}

@include mediaMd {
  main {
    text-align: center;
    min-height: 100vh;
    align-items: center;

    .lg-heading {
      font-size: 5rem;
    }

    .about-info {
      grid-template-columns: 1fr;
      grid-template-areas:
        "bioimage"
        "bio"
        "job1"
        "job2"
        "job3";
    }
  }

  ul.menu-nav,
  div.menu-branding {
    // float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      height: 150px;
      width: 150px;
    }
  }
}

@include mediaSm {
  main {
    text-align: center;
    align-items: center;

    .sm-heading {
      display: flex;
      align-items: center;
    }

    .lg-heading {
      margin: 10vh 0 5vh 0 !important;
      font-size: 4rem;
      line-height: 1;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
